<div class="eqLogic eqLogic-widget allowResize #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width:#width#;height:#height#;background-color:#BGTeleo#!important;">
<link rel="stylesheet" href="plugins/teleo/data/css/teleo.template.css"/>
  <div class="text-center widget-name" style="padding:2% 0;">
	   <span class="warning" title="#alert_name#"><i class='#alert_icon#'></i></span>
	   <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
	   <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	   <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync" style="color:var(--eqTitle-color)!important;"></i>
	  </span>
  </div>
  <div class="teleo_template text-center">
	   <div class="history cursor" data-cmd_id="#consoa_id#" title="#consoa_collect#" style="padding-top:25%;">
		    <div class="teleoCdc">#consoa_name#</div>
		    <div class="teleoValueUnite"><span class="teleoValue">#consoa#</span><span class="teleoUnite"> L</span></div>
	   </div>
	   <div class="history cursor" data-cmd_id="#consom_id#" title="#consom_collect#">
		  <div class="teleoCdc">#consom_name#</div>
		  <div class="teleoValueUnite"><span class="teleoValue">#consom#</span><span class="teleoUnite"> L</span></div>
	  </div>
	  <div class="history cursor" data-cmd_id="#consoh_id#" title="#consoh_collect#">
		  <div class="teleoCdc">#consoh_name#</div>
		  <div class="teleoValueUnite"><span class="teleoValue">#consoh#</span><span class="teleoUnite"> L</span></div>
	  </div>
	  <div class="history cursor" data-cmd_id="#consod_id#" title="#consod_collect#">
	 	  <div class="teleoCdc">#consod_name#</div>
		  <div class="teleoValueUnite"><span class="teleoValue">#consod#</span><span class="teleoUnite"> L</span></div>
	  </div>
 </div>
<script>
    var eqLogic = $('.eqLogic[data-eqLogic_uid=#uid#]');
    var eqlogic_width = eqLogic.width();
    var TeleoScreen_width = eqLogic.find('.teleo_template').width();
    if ('#BGTeleo#' != 'transparent') {
      eqLogic.find('.widget-name').attr('style', 'background-color:#BGTeleo#!important');
    }	
    //eqLogic.find('.reportModeHidden').attr('style', 'font-size :' + (eqlogic_width*0.13)+'px !important');
    eqLogic.find('.teleoCdc').css('font-size', (TeleoScreen_width*0.09)+'px');
    eqLogic.find('.teleoValue').css('font-size', (TeleoScreen_width*0.12)+'px');
    eqLogic.find('.teleoUnite').css('font-size', (TeleoScreen_width*0.08)+'px');

    if ('#refresh_id#' != '') {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function() {
        jeedom.cmd.execute({ id: '#refresh_id#' })
      })
    }
    else {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
    }
	
 </script>
</div>