<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-tags="#tags#" style="background-color:#BGTeleo#!important;">
	<center>
		<link rel="stylesheet" href="plugins/teleo/data/css/teleo.mobile.css"/>
		<div class="widget-name" style="padding:2% 0;font-size:22px;color:#9fe7e7!important;">
			<span class="warning" title="#alert_name#">
				<i class='#alert_icon#'></i>
			</span>
			<span>#name_display# <span class="object_name">#object_name#</span></span><br/>
		</div>
		<div class="teleo_template text-center" style="height:220px;">
          <div id="consumption">  
              <div data-cmd_id="#consoa_id#" title="#consoa_collect#">
                  <div class="teleoCdc">#consoa_name#</div>
                  <div class="teleoValueUnite"><span class="teleoValue">#consoa#</span><span class="teleoUnite"> L</span></div>
              </div>
              <div class="history cursor" data-cmd_id="#consom_id#" title="#consom_collect#">
                  <div class="teleoCdc">#consom_name#</div>
                  <div class="teleoValueUnite"><span class="teleoValue">#consom#</span><span class="teleoUnite"> L</span></div>
              </div>
              <div class="history cursor" data-cmd_id="#consoh_id#" title="#consoh_collect#">
                  <div class="teleoCdc">#consoh_name#</div>
                  <div class="teleoValueUnite"><span class="teleoValue">#consoh#</span><span class="teleoUnite"> L</span></div>
              </div>
              <div class="history cursor" data-cmd_id="#consod_id#" title="#consod_collect#">
                  <div class="teleoCdc">#consod_name#</div>
                  <div class="teleoValueUnite"><span class="teleoValue">#consod#</span><span class="teleoUnite"> L</span></div>
              </div>
          </div>
        </div>
		<script>
			var eqLogic = $('.eqLogic[data-eqLogic_uid=#uid#]');
			if ('#BGTeleo#' != 'transparent') {
				eqLogic.find('.widget-name').attr('style', 'background-color:#BGTeleo#!important');
			}	
		</script>
	</center>
</div>