@font-face {
	font-family: "Digital-7";
	src:  url("../fonts/digital-7.ttf") format("opentype");
}
.teleo_template {
	height:100%;
	background-image:url("../images/TeleoScreen_mobile.png");
	background-size: 85% 95%;
	background-repeat: no-repeat;
	background-position: center 0%;
	font-family: "Digital-7";
	color: black!important;
}
.teleo_template div.teleoCdc{
	font-size:14px!important;
	letter-spacing: 1px;
  	color:#505050;
	line-height:1;
}
.teleo_template div.teleoUnite{
    letter-spacing: 1px;
	color:#505050;
}
.teleo_template .teleoValue {
  	font-size:16px!important;
	font-weight:bold;
	letter-spacing: 1px;
}
.teleo_template div.teleoValueUnite {
	line-height:1;
}
.teleo_template #consumption {
	padding-top: 45px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}