@font-face {
	font-family: "Digital-7";
	src:  url("../fonts/digital-7.ttf") format("truetype");
}

.teleo_template {
	height:90%;
	background-image:url("../images/Screen.png");
	background-size: 90% 95%;
	background-repeat: no-repeat;
	background-position: center 80%;
	font-family: "Digital-7";
	color: black!important;
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;
  	justify-content: center;
}
.teleo_template div.teleoCdc{
  	color:#505050;
	line-height:1;
	margin-top:2%;
}
.teleo_template div.teleoUnite{
	color:#505050;
}
.teleoValue {
	font-weight:bold;
}
.teleoValueUnite {
	line-height:1;
}